
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/Fuentes/Montserrat-Regular.ttf');
}

/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	box-sizing: border-box;
}
/*Fin Reset CSS*/

/* ----- Variables -------- */
:root{
  /*---Fuentes---*/
  --nota: 12px;
  --cuerpo: 14px;
  --subEncabezado: 18px;
  --Titulo: 22px;
  --Encabezado: 26px;
  --Display: 30px;
  --Jumbo: 34px;
  /*---Colores---*/
  --blanco: #F1F0E8;
  --cafe: #99582a;
  --negro: #161616;
  --rojo:#f94a4a;
  --gris:#4b5f67;
  --rojoClaro:#e76f51;
  --naranja:#f4a261;
  --amarillo:#e9c46a;
  --aqua:#2a9d8f;
  --aquaOscuro:#24a797;
  --azul:#264653;
}

/*---- Estios Generales ----*/
p, a, button{
  font-family: "Comic Sans MS";
  font-size: var(--cuerpo);
  line-height: 1.5;
  color: white;
}
legend{
  font-family: "Comic Sans MS";
  font-size: var(--cuerpo);
  line-height: 1.5;
  color: var(--blanco);
  font-weight: bold;
  padding: 5px;
}
h1{
  font-family: Montserrat;
  font-size: var(--Jumbo);
  color: white;
}
h3{
  font-family: Montserrat;
  font-size: var(--Encabezado);
  color: white;
}
h5{
  font-family: Montserrat;
  font-size: var(--subEncabezado);
  color: white;
}
hr{
  width: 70%;
  margin: 20px auto;
}
.linea{
  width: 70px;
}
.btn{
  display: block;
  text-align: center;
  width: 100px;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--rojo);
}
.raiz{
  border-top: solid black 1px;
  border-top-width: thin;
}
.vector{
  border-top: solid black;
  border-top-style: outset;
}

.procedimiento{
  width: 50%;
  height: 50%;
  background-color: var(--gris);
}
